<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Sample App", root_path, class: 'navbar-brand', id: 'logo' %>
    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <%= link_to 'Help', help_path %>
        </li>
        <li>
          <%= link_to 'Log in', login_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
